<f-welcome-title :tab-index="1">
  <div class="container" style="margin-top: 2%">
    <div class="columns is-multiline is-mobile">
      <% @sellers.each do |seller| %>
        <div class="column is-6-desktop is-12-mobile is-mobile">
          <f-seller-card :seller="<%= seller.to_json %>"></f-seller-card>
        </div>
      <% end %>
    </div>
  </div>
</f-welcome-title>