<f-search-page :result="<%= @search_result.to_json %>"></f-search-page>

<!--   <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child">
          <div class="content">
              <div class="columns is-multiline is-mobile">
              	
              </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent is-vertical">
        <article class="tile is-child">
        <div class="content">
          <div class="content">
            <div class="box">
              <p class="title">Search parameters</p>
      				<div class="field">
                  <b-switch :value="true">
                      Sellers
                  </b-switch>
              </div>
               <div class="field">
                <b-switch :value="true">
                    Merchandises
                </b-switch>
              </div>    
            </div>
          </div>
        </div>
      </article>
    </div>
</div> -->